/* map */
svg {
	background-color: #5A8DC0;
	border: 2px solid gray;
	padding: 5px;
  width: 800px;
}

.country {
  fill: #79A881;
  stroke: #141414;
}

.selected {
  fill: #755888;
}

/* default blog stuff */
body {
	margin: 0px;
	padding: 0px;
	border: none;
}

#slider {
  width: 805px;
}

#yearBox {
  font: 24pt bold;
  color: black;
  position: absolute;
  padding: 8px;
}

h1 {
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

#maincontent 
{
	margin-left: auto;
	margin-right: auto;
	color: #555555;
	font: helvetica;
	font-size: 14pt;
  width: 800px;
  position: relative;
}

#header {
	width: 100%;
	height: 150px;
	background-color: #2c3e50;
	margin-bottom: 30px;
}
#header_image_container {
	height: 100%;
	width: 1080px;
	margin: 0 auto;
}
#header_img {
	margin: 0 auto;
	position: relative;
	top: 18%;
}